::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background: transparent;
    border: 0px solid #DBDBDB;
}
::-webkit-scrollbar-thumb {
    background: rgba(219, 219, 219, 0.42);
    border: 1px solid #DBDBDB;
    border-radius: 15px;
}

*{
    outline: none;
}
html {
    min-height: 100%;
    position: relative;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
body {
    min-height: 100%;
    padding: 0px !important;
}
#page-wrapper.hiddenMenu{
    margin: 0px;
}
.btn.active.focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn:active:focus,.btn:focus {
    outline: none;
    outline: 0px ;
    outline-offset: 0px
}
input[type="checkbox"].checkbox-fix-margin {
    margin-right: -20px;
    margin-left: 5px;
    position: relative;
}

.login-help {
    font-size: 11px;
    color: crimson;
}
.login-help:before{
    content: "*";
}
.fixed-table-toolbar .columns label {
    text-align: right;
    border-bottom: 1px dashed #efefef
}


.modal-open {
    overflow: auto;
}
.modal-backdrop {
    width: 100%;
    height: 100%;
    background-color: #b6b6b6
}
.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0); /* IE9 only*/
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform .1s ease-out;
    -o-transition: -o-transform .1s ease-out;
    transition: transform .1s ease-out;
}
.css-form.form-inline .form-group{
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
}

/**
* file manager app css code
*/
.filemanager-app{
    margin-bottom:0px;
}
.filemanager-app .panel-body{
    padding: 0px;
}
.filemanager-app .col-sm-2,.filemanager-app .col-sm-3 {
    padding: 0px;
}
.filemanager-app .col-sm-10,.filemanager-app .col-sm-9 {
    padding: 0px;
}

.filemanager-app .treeview,
.filemanager-app .filesview{
    margin-bottom:0px;
    border-radius: 0px;
    border:0px;
    box-shadow: 0 0 0;
}
.filemanager-app .treeview .panel-body,
.filemanager-app .filesview .panel-body{
    padding:10px;
    overflow-x: auto;
}
.filemanager-app .filesview{
    border-right: 1px solid #DDD;
}
.filemanager-detailsContent{
    overflow: hidden;
}
.filemanager-detailsContent-toolbar{
    background: #f5f5f5;
    border: 1px solid #dddddd;
    padding: 2px;
    margin-bottom: 5px;
}
.filemanager-detailsContent-toolbar .btn{
    background: transparent;
    border:0;
}
.filemanager-detailsContent-toolbar .selected-filename{
    line-height: 170%;
    color: #a5a5a5;
    padding-right: 5px;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 70%;
    white-space: nowrap;
}
.fdcc div {
    margin-bottom: 15px;
}
.fdcc div label{
    display: block;
    font-weight: normal;
    font-size: 0.9em;
    color: #a5a5a5;
    line-height: 1.2;
    margin-bottom: 2px;
}
.fdcc div span{
    display: block;
    line-height: 1.4;
    font-size: 1em;
}
.fdcc div .form-control{
    padding: 0 6px;
    height: 30px;
    font-size: 13px;
    box-shadow: 0 0 0;
}
.fdcc div textarea.form-control{
    height: 100px;
    resize:none;    
}

/**
* icons view
*/

#context-menu {
    position: absolute;
    display:none;
    z-index:9999;
}

.iconset {
    padding:0px;
    overflow: auto;
}
.col-120 {
    width:100px;
    max-height:100px;
    float:right;
    margin-bottom: 9px;
    margin-left: 9px;
}
.col-120:last-child {
    margin-right:0;
}
.iconset .thumbnail {
    border-radius: 0;
    overflow:hidden;
    margin:0;
    padding:0;
    padding:10px 0;
}
.iconset .thumbnail .item-icon {
    font-size:32px;
}
.iconset span.itemname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding: 0px 5px;
}

/*
* angular treeview css code
*/

div[data-angular-treeview] {
    /* prevent user selection */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* default */
    color: #555;
    text-decoration: none;
    display: inline-block;
}

div[data-tree-model] ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    overflow: hidden;
}
div[data-angular-treeview]>ul:first-child>li{
    margin-right: 0;
    border-right: 0px dashed #CCC;
}
div[data-tree-model] li {
    position: relative;
    margin: 0 10px 1px 0;
    line-height: 25px;
    border-right: 1px dashed #CCC;
    padding-right: 15px;
    white-space: nowrap;
}

div[data-tree-model] li i{
    padding: 3px;
    border-radius: 22%;
    border: 1px solid #555;
    margin-bottom: 1px;
}
div[data-tree-model] li i, div[data-tree-model] li span {
    cursor: pointer;
}
div[data-tree-model] li span {
    padding: 1px 10px;
    border-radius: 5px;
    display: inline-block;
}

div[data-tree-model] li span.selected {
    background-color: #D2D2D2;;
}
.padding-20{
    padding : 20px;
}
.padding-0{
    padding: 0px;
}


.menuItemTabPanel .nav-tabs{
    position: relative;
    height:39px;
}

.menuItemTabPanel .nav>li>a:focus,.menuItemTabPanel .nav>li>a:hover {

}

.close.small{
    font-size: 100%;
    margin: 3px 5px 0 0;
}
.close.circleHover{
	padding: 2px;
}
.close.circleHover:hover{
    border-radius: 10px;
    background: #D2D2D2;    
}


.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}
.nav.sub-menu li{
    border-bottom: 1px solid #f5f5f5;
}
.nav.sub-menu li:last-child{
    border-bottom-width: 0px;
}
.nav.sub-menu .selected{
    border-right: 2px solid #5a8db6 ;
    padding-right: 13px;
}


.note-editor .popover .arrow{
    direction: ltr;
}


.languages-select-input{
    width: 50%;
}




/**
* Dialog 
**/

.modal.fade .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0)
}

.dialogs-service {
    -webkit-transition: -webkit-transform .0s ease-out;
    -o-transition: -o-transform .0s ease-out;
    transition: transform .0s ease-out;
    margin: auto auto
}

.dialogs-service .modal-header {
    padding: 15px
}

.dialogs-service .modal-dialog {
    margin: auto auto!important;
    top: 40%;
    left: 25%;
    position: fixed;
    right: 25%;
    bottom: 50%
}

.dialog-header-error {
    background-color: #d2322d
}

.dialog-header-wait {
    background-color: #428bca
}

.dialog-header-notify {
    background-color: #eee
}

.dialog-header-confirm {
    background-color: #333
}

.dialog-header-error span,.dialog-header-error h4,.dialog-header-wait span,.dialog-header-wait h4,.dialog-header-confirm span,.dialog-header-confirm h4 {
    color: #fff
}

.table .rowIdSpan{
    color:#D0D0D0;
}
.table tr:hover .rowIdSpan{
    color: #949494;
}

.details-error-message{
    padding: 15px;
    text-align: center;
    font-size: 0.85em;
    height: 100%;
}
