<div class="filemanager-detailsContent-toolbar clearfix">
    <a class="pull-right selected-filename" target="_blank" href="http:\\{{selectedFilePath}}" ng-bind="fileData.filename"></a>
    <div class="btn-group pull-left">
        <button class="btn btn-default btn-xs" ng-click="fmdetails.currentModeTemplate = fmdetails.editModeTemplate" title="{{'textKeys.edit'|xlat}}" >
            <i class="fa fa-pencil"></i>
        </button>
    </div>
</div>

<div ng-if="errorResponse" class="details-error-message">
    {{errorResponse|xlat}}
</div>
<div class="filemanager-detailsContent-contanier fdcc" ng-if="!errorResponse">

    <div>
        <label>{{fmdetails.isAudioFile ? 'textKeys.songName' : 'textKeys.fileName'|xlat}}</label>
        <span>{{fileData.name}}</span>
    </div>

    <div>
        <label>{{fmdetails.isAudioFile ? 'textKeys.artist' : 'textKeys.desc1'|xlat}}</label>
        <span>{{fileData.desc1}}</span>
    </div>

    <div>
        <label>{{fmdetails.isAudioFile ? 'textKeys.album' : 'textKeys.desc2'|xlat}}</label>
        <span>{{fileData.desc2}}</span>
    </div>

    <div>
        <label>{{'textKeys.details'|xlat}}</label>
        <span>{{fileData.details}}</span>
    </div>

</div>

