<div class="iconset" style="height:{{viewHeight}}px;">
    <div class="col-120" data-ng-repeat="item in fileNavigator.fileList" data-ng-show="!fileNavigator.requesting && !fileNavigator.error">
        <a href="" class="thumbnail text-center" data-ng-click="smartClick(item)" ng-right-click="smartRightClick(item)" data-placement="bottom" tooltip="{{item.filename}} ( {{item.filesize}} )">
            <div class="item-icon">
                <i class="{{fileNavigator.getFileTypeIcon(item.filename)}}"></i>
            </div>
            <span class="itemname">{{item.filename}}</span>
        </a>
    </div>
    <div class="alert alert-warning" data-ng-show="fileNavigator.requesting">
        {{"textKeys.loading" | xlat}}...
    </div>
    <div class="alert alert-warning" data-ng-show="!fileNavigator.requesting && fileNavigator.fileList.length < 1 && !fileNavigator.error">
        {{"textKeys.no_files_in_folder" | xlat}}
    </div>
    <div class="alert alert-danger" data-ng-show="!fileNavigator.requesting && fileNavigator.error">
        {{ fileNavigator.error }}
    </div>
</div>
