<div id="toolbar" >
	<div class="btn-group" role="group" aria-label="Tools">
		<button class="btn btn-default btn-sm" ng-disabled="selectedItems.length !== 1" ng-click="">
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span> 
			<span class="hidden-xs">{{ 'textKeys.open' | xlat }}</span>
		</button>
		<button class="btn btn-danger btn-sm" ng-disabled="selectedItems.length === 0" ng-click="deleteSelectedFiles()">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 
			<span class="hidden-xs">{{ 'textKeys.delete' | xlat }}</span>
		</button>				
	</div>
</div>
<table 
	init-table="filesTableOptions" 
	ng-model="filesTableParams" 
	id="manager-files-table" 
	data-toolbar="#toolbar">
</table>