<div class="filemanager-detailsContent-toolbar clearfix">
   <a class="pull-right selected-filename" target="_blank" href="{{selectedFilePath}}" ng-bind="fileData.filename"></a>
    <div class="btn-group pull-left">       
        <button class="btn btn-default btn-xs" ng-click="" title="{{'textKeys.delete'|xlat}}">
            <i class="fa fa-trash"></i>
        </button>
        
        <button class="btn btn-default btn-xs" ng-click="saveDetails()" title="{{'textKeys.save'|xlat}}">
            <i class="fa fa-save"></i>
        </button>
        
        <button class="btn btn-default btn-xs" ng-click="cancelAndOpenViewMode()" title="{{'textKeys.close'|xlat}}">
            <i class="fa fa-eye"></i>
        </button>
    </div>
</div>


<div class="filemanager-detailsContent-contanier fdcc">
    <form class="form-group">
        
        <div class="" >
            <label>{{fmdetails.isAudioFile ? 'textKeys.songName' : 'textKeys.fileName'|xlat}}</label>
            <input type="text" name="fileName" ng-model="fileData.name" class="form-control"/>
        </div>
        
        <div class="">
            <label>{{fmdetails.isAudioFile ? 'textKeys.artist' : 'textKeys.desc1'|xlat}}</label>
            <input type="text" name="fileName" ng-model="fileData.desc1" class="form-control" auto-complete ui-items="searchDesc1Url"/>
        </div>
        
        <div class="">
            <label>{{fmdetails.isAudioFile ? 'textKeys.album' : 'textKeys.desc2'|xlat}}</label>
            <input type="text" name="fileName" ng-model="fileData.desc2" class="form-control" auto-complete ui-items="searchDesc2Url"/>
        </div>
           
        <div class="">
            <label>{{'textKeys.details'|xlat}}</label>
            <textarea class="form-control" ng-model="fileData.details"></textarea>
        </div>
                        
        
    </form>
</div>