<div class="panel-heading">
    {{'textKeys.fileInfo'|xlat}}
    <div class="pull-left">
        <button type="button" ng-click="toggleShowFileInfo()" class="close small circleHover" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>
<div class="panel-body" ng-controller="FileDetailsController as fmdetails">
    <div ng-if="noFileSelected" class="filemanager-empty-message">
    <? /*TODO: show when no file selected*/ ?>
    {{'textKeys.filemanagerEmptyMessage'|xlat}}
    </div>
    
    <div class="filemanager-detailsContent" ng-include="fmdetails.currentModeTemplate"  ></div>
    
</div>