<div class="modal animated fadeIn" id="delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">{{"close" | xlat}}</span>
                </button>
                <h4 class="modal-title">{{"confirm" | xlat}}</h4>
            </div>
            <div class="modal-body">
                {{'sure_to_delete' | xlat}} <b>{{temp.model.name}}</b> ?
                <div data-ng-include data-src="'error-bar'" class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" data-ng-disabled="temp.inprocess">{{"cancel" | xlat}}</button>
                <button type="button" class="btn btn-sm btn-primary" data-ng-click="remove(temp)" data-ng-disabled="temp.inprocess" autofocus="autofocus">{{"remove" | xlat}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="rename">
    <div class="modal-dialog">
        <div class="modal-content">
            <form data-ng-submit="rename(temp)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">{{"close" | xlat}}</span>
                    </button>
                    <h4 class="modal-title">{{'change_name_move' | xlat}}</h4>
                </div>
                <div class="modal-body">
                    <label class="radio">{{'enter_new_name_for' | xlat}} <b>{{temp.model.name}}</b></label>
                    <input class="form-control" data-ng-model="temp.tempModel.name" autofocus="autofocus">

                    <div data-ng-include data-src="'path-selector'" class="clearfix"></div>
                    <div data-ng-include data-src="'error-bar'" class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" data-ng-disabled="temp.inprocess">{{"cancel" | xlat}}</button>
                    <button type="button" class="btn btn-sm btn-primary" data-ng-click="rename(temp)" data-ng-disabled="temp.inprocess">{{'rename' | xlat}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="copy">
    <div class="modal-dialog">
        <div class="modal-content">
            <form data-ng-submit="copy(temp)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">{{"close" | xlat}}</span>
                    </button>
                    <h4 class="modal-title">{{'copy_file' | xlat}}</h4>
                </div>
                <div class="modal-body">
                    <label class="radio">{{'enter_new_name_for' | xlat}} <b>{{temp.model.name}}</b></label>
                    <input class="form-control" data-ng-model="temp.tempModel.name" autofocus="autofocus">

                    <div data-ng-include data-src="'path-selector'" class="clearfix"></div>
                    <div data-ng-include data-src="'error-bar'" class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" data-ng-disabled="temp.inprocess">{{"cancel" | xlat}}</button>
                    <button type="button" class="btn btn-sm btn-primary" data-ng-click="copy(temp)" data-ng-disabled="temp.inprocess">Copy</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="compress">
    <div class="modal-dialog">
        <div class="modal-content">
            <form data-ng-submit="compress(temp)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">{{"close" | xlat}}</span>
                    </button>
                    <h4 class="modal-title">{{'compress' | xlat}}</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="temp.success">
                        <div class="label label-success error-msg">{{'compression_started' | xlat}}</div>
                    </div>
                    <div ng-hide="temp.success">
                        <label class="radio">{{'enter_folder_name_for_compression' | xlat}} <b>{{fileNavigator.currentPath.join('/')}}/{{temp.model.name}}</b></label>
                        <input class="form-control" data-ng-model="temp.tempModel.name" autofocus="autofocus">
                    </div>

                    <div data-ng-include data-src="'error-bar'" class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <div ng-show="temp.success">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" data-ng-disabled="temp.inprocess">{{"close" | xlat}}</button>
                    </div>
                    <div ng-hide="temp.success">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" data-ng-disabled="temp.inprocess">{{"cancel" | xlat}}</button>
                        <button type="button" class="btn btn-sm btn-primary" data-ng-click="compress(temp)" data-ng-disabled="temp.inprocess">{{'compress' | xlat}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="extract" ng-init="temp.emptyName()">
    <div class="modal-dialog">
        <div class="modal-content">
            <form data-ng-submit="extract(temp)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">{{"close" | xlat}}</span>
                    </button>
                    <h4 class="modal-title">{{'extract_item' | xlat}}</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="temp.success">
                        <div class="label label-success error-msg">{{'extraction_started' | xlat}}</div>
                    </div>
                    <div ng-hide="temp.success">
                        <label class="radio">{{'enter_folder_name_for_extraction' | xlat}} <b>{{temp.model.name}}</b></label>
                        <input class="form-control" data-ng-model="temp.tempModel.name" autofocus="autofocus">
                        <div data-ng-include data-src="'path-selector'" class="clearfix"></div>
                    </div>
                    <div data-ng-include data-src="'error-bar'" class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <div ng-show="temp.success">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" data-ng-disabled="temp.inprocess">{{"close" | xlat}}</button>
                    </div>
                    <div ng-hide="temp.success">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" data-ng-disabled="temp.inprocess">{{"cancel" | xlat}}</button>
                        <button type="button" class="btn btn-sm btn-primary" data-ng-click="extract(temp)" data-ng-disabled="temp.inprocess">{{'extract' | xlat}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="edit" data-ng-class="{'modal-fullscreen': fullscreen}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form data-ng-submit="edit(temp)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">{{"close" | xlat}}</span>
                    </button>
                    <button type="button" class="close mr5" data-ng-click="fullscreen=!fullscreen">
                        <span>&loz;</span>
                        <span class="sr-only">{{'toggle_fullscreen' | xlat}}</span>
                    </button>
                    <h4 class="modal-title">{{'edit_file' | xlat}}</h4>
                </div>
                <div class="modal-body">
                    <label class="radio">{{'file_content' | xlat}}</label>
                    <span class="label label-warning" data-ng-show="temp.inprocess">{{'loading' | xlat}} ...</span>
                    <textarea class="form-control code" data-ng-model="temp.tempModel.content" data-ng-show="!temp.inprocess" autofocus="autofocus"></textarea>
                    <div data-ng-include data-src="'error-bar'" class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" data-ng-disabled="temp.inprocess">{{"cancel" | xlat}}</button>
                    <button type="button" class="btn btn-sm btn-primary" data-ng-click="edit(temp)" data-ng-disabled="temp.inprocess">{{'edit' | xlat}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="newfolder">
    <div class="modal-dialog">
        <div class="modal-content">
            <form data-ng-submit="createFolder(temp)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">{{"textKeys.close" | xlat}}</span>
                    </button>
                    <h4 class="modal-title">{{'textKeys.create_folder' | xlat}}</h4>
                </div>
                <div class="modal-body">
                    <label class="radio">{{'textKeys.folder_name' | xlat}}</label>
                    <input class="form-control" data-ng-model="temp.name" autofocus="autofocus">
                    <div data-ng-include data-src="'error-bar'" class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" data-ng-disabled="temp.inprocess">{{"textKeys.cancel" | xlat}}</button>
                    <button class="btn btn-sm btn-primary" data-ng-click="createFolder(temp)" data-ng-disabled="temp.inprocess">{{'textKeys.save' | xlat}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="uploadfile">
    <div class="modal-dialog">
        <div class="modal-content">
            <form data-ng-submit="uploadFiles()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">{{"textKeys.close" | xlat}}</span>
                    </button>
                    <h4 class="modal-title">{{"textKeys.upload_file" | xlat}}</h4>
                </div>
                <div class="modal-body">

                    <label class="radio">{{"textKeys.files_will_uploaded_to" | xlat}} <b ng-bind="fileNavigator.getDisplayPath()"></b></label>
                    <input type="file" class="form-control" data-ng-file="$parent.uploadFileList" autofocus="autofocus" multiple="multiple"/>
                    <div data-ng-include data-src="'error-bar'" class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <div data-ng-show="!fileUploader.requesting">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">{{"textKeys.cancel" | xlat}}</button>
                        <button class="btn btn-sm btn-primary" data-ng-click="uploadFiles()" data-ng-disabled="!uploadFileList.length || fileUploader.requesting">{{'textKeys.upload' | xlat}}</button>
                    </div>
                    <div data-ng-show="fileUploader.requesting">
                        <span class="label label-warning">{{"textKeys.uploading" | xlat}} ...</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" id="changepermissions">
    <div class="modal-dialog">
        <div class="modal-content">
            <form data-ng-submit="changePermissions(temp)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">{{"close" | xlat}}</span>
                    </button>
                    <h4 class="modal-title">{{'change_permissions' | xlat}}</h4>
                </div>
                <div class="modal-body">

                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>{{"permissions" | xlat}}</th>
                                <th ng-repeat="(type, value) in temp.model.perms.values">{{type}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(mode, value) in temp.model.perms.permissionValues">
                                <td>{{mode}}</td>
                                <td data-ng-repeat="(type, value) in temp.model.perms.values" class="col-xs-1" ng-click="main()">
                                    <input type="checkbox" ng-model="temp.tempModel.perms.values[type][mode]" ng-false-value="0" ng-true-value="{{temp.model.perms.permissionValues[mode]}}" >
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <span>Original Chmod: {{temp.model.perms.getNumber()}}</span>
                        <span>Chmod: {{temp.tempModel.perms.getNumber()}}</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">{{"cancel" | xlat}}</button>
                    <button class="btn btn-sm btn-primary" data-ng-click="changePermissions(temp)" data-ng-disabled="">{{'change' | xlat}}</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/ng-template" id="path-selector">
    <div class="panel panel-primary mt10 mb0">
      <div class="panel-heading">
        <h3 class="panel-title">{{'details' | xlat}}</h3>
    </div>
      <div class="panel-body">
          <div class="detail-sources">
            <code class="mr5"><b>{{"source" | xlat}}:</b> {{temp.model.fullPath()}}</code>
    </div>
          <div class="detail-sources">
            <code class="mr5"><b>{{"destination" | xlat}}:</b>{{temp.tempModel.fullPath()}}</code>
            <span class="badge badge-warning pointer" data-ng-click="openNavigator(temp)">{{'change' | xlat}}</span>
    </div>
    </div>
    </div>
</script>
<script type="text/ng-template" id="error-bar">
    <div class="label label-danger error-msg pull-left animated fadeIn" data-ng-show="temp.error"><i class="glyphicon glyphicon-remove-circle"></i> {{temp.error}}</div>
</script>
