<div class="btn-group" role="group" aria-label="Tools">	

	<button class="btn btn-success btn-sm" ng-click="toggleView('pages/filemanager/filesview-list.html')" ng-if="filesview == 'pages/filemanager/filesview-thumb.html'" title="Icons">
		<i class="glyphicon glyphicon-th-large"></i>
	</button>
	<button class="btn btn-success btn-sm" ng-click="toggleView('pages/filemanager/filesview-thumb.html')" ng-if="filesview == 'pages/filemanager/filesview-list.html'" title="List">
		<i class="glyphicon glyphicon-th-list"></i>
	</button>

	<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#newfolder" ng-click="openModal()">
		<span class="fa fa-folder-o" aria-hidden="true"></span> 
		<span class="hidden-xs">{{ 'textKeys.newFolder' | xlat }}</span>
	</button>
	<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#uploadfile" ng-click="openModal()">
		<span class="fa fa-cloud-upload" aria-hidden="true"></span> 
		<span class="hidden-xs">{{ 'textKeys.uploadFile' | xlat }}</span>
	</button>     

	<button class="btn btn-default btn-sm" tooltip="not available yet!" ng-click="">
		<span class="fa fa-search" aria-hidden="true"></span>         
	</button> 
</div>


<div class="pull-left"  ng-show="isModal">
	<button type="button" class="close circleHover" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>


<script>
	$(function() {
		$('#toggle-settings').bootstrapToggle({
            width:65
        });
	})
</script>